<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
    <property name="hibernate.connection.url">jdbc:sqlite:D:\ЕГОР\Sql\hb\test.db</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.connection.username"/>
    <property name="hibernate.dialect">onetomanyjpatest.SQLiteDialect</property>
    
    
    <property name="show_sql">true</property>
    <mapping class = "onetomanyjpatest.DocsEntity"/>
    <mapping class = "onetomanyjpatest.Employees"/>
     <mapping class = "onetomanyjpatest.Departments"/>
       <mapping class = "onetomanyjpatest.DEPS"/>
         <mapping class = "onetomanyjpatest.USRS"/>
  </session-factory>
</hibernate-configuration>
